<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> Daily journal is an expansion of personal daily blogs. </p>
    <p>It's a multi-user blog service that allows user to compose and delete any content anonymously.Your secrets or your thoughts are safe with us.  </p>
<%- include("partials/footer"); -%>
